/* ------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------ */

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Root values */
* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

/* Variables */
/* root {

} */
main {
    margin: auto;
    max-width: 1024px;
    padding: 2rem;
    background-color: lightblue;
}
main::before {
    /* TODO: delete placeholders */
    content: "Xsmall";
}
/* Navigation  */
nav {
    position: static;
    top: 0;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
.in-nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding: 1rem;
    gap: 1rem;
}

.nav-buttons {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    gap: 0.5rem;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    /* padding: 1rem; */
}
.nav-buttons > a {
    cursor: pointer;
    padding: 0 0.5rem;
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}
.nav-buttons > a:hover {
    background-color: lightgray;
    color: gray;
}


p {
    margin-bottom: 1rem;
}

footer {
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
.in-foot {
    margin: auto;
    display: flex;
    max-width: 1024px;
    justify-content: center;
    padding: 1rem;
}
#hero {
    background-color: blueviolet;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#content {
    background-color: brown;
    /* padding: 0.5rem; */
    margin-bottom: 0.5rem;
}

#side {
    background-color: lightyellow;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

/* ------------------------------------------------------------------------ */
/* Cards */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.card {
    border: 1px solid black;
    /* padding: 0.5rem; */
    position: relative;
    width: 200px;
    height: 200px;
    background-image: url(/assets/images/chibi-square.jpg);
    background-size: cover;
    cursor: pointer;
}

.card p {
    position: absolute;
    bottom: 0;
    color: black;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 4px #FFFFFF;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 150%;
}

/* ------------------------------------------------------------------------ */

/* Break points */
/* 576px NOT necessary */
/* 768px */
/* 992px */
/* 1200px */

@media screen and (min-width:768px) {
    main::before {
    /* TODO: delete placeholders */
        content: 'Medium'
    }
    nav {
        position: sticky;
        font-size: 1rem;
    }
    .in-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-buttons {
        flex-direction: row;
    }
    footer {
        font-size: 1rem;
    }


}

@media screen and (min-width:992px) {
    main::before {
    /* TODO: delete placeholders */
        content: 'Large'
    }
}

@media screen and (min-width:1200px) {
    main::before {
    /* TODO: delete placeholders */
        content: 'Xlarge'
    }
}
