/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Root values */
* {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

/* Variables */
/* root {

} */

/* Navigation  */
nav {
    background-color: black;
    color: white;
}
.in-nav {
    margin: auto;
    display: flex;
    max-width: 1024px;
    justify-content: space-between;
    padding: 1rem;
}
.nav-buttons > a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 0.5rem 1rem;
}
.nav-buttons > a:hover {
    background-color: lightgray;
    color: gray;
}